force-app/main/default/flows/Update_z.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Email_length_Check</name>
        <label>Email_length_Check</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_than_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Length</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>appendZToEmail</targetReference>
            </connector>
            <label>Less than 20</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Email_Length</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.Email})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>updatedEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Email} + &apos;z&apos;</expression>
    </formulas>
    <interviewLabel>Update_z {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email_Length_Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>appendZToEmail</name>
        <label>appendZToEmail</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>updatedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_length_Check</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
